---
//components
import IndexPage from '../index.astro';
---
<IndexPage title="CyAks" childpage={true}>
<h1>CyAks [Testing]</h1>
<p>An AI that protects user privacy.</p>
<a href="/">GO BACK</a>
</IndexPage>