---
// css
import '../../style/generate.css';
//components
import IndexPage from '../index.astro';
---
<IndexPage title="CyAks" childpage={true}>
<h1 class="calor">CyAks [Testing]</h1>
<p class="calor">An AI that protects user privacy.</p>
<a href="/" class="calor">GO BACK</a>
</IndexPage>