---
//components
import IndexPage from '../index.astro';
---
<IndexPage title="MoITools" childpage={true}>
<h1>MoITools [Testing]</h1>
<p>Test your internet for IP address, network speed, DNS, and WebRTC leaks.</p>
<a href="/">GO BACK</a>
</IndexPage>