---
//css
import '../../style/global.css';
//components
import IndexPage from '../index.astro';
---
<IndexPage title="MoITools" childpage={true}>
<h1>MoITools [Testing]</h1>
<p>Test your internet for IP address, network speed, DNS, and WebRTC leaks.</p>
<p>This page is completely open source, so please feel free to test it!</p>
<a href="/">GO BACK</a>
</IndexPage>