---
// css
import '../../style/generate.css';
//components
import IndexPage from '../index.astro';
---
<IndexPage title="MoITools" childpage={true}>
<h1 class="calor">MoITools [Testing]</h1>
<p class="calor">Test your internet for IP address, network speed, DNS, and WebRTC leaks.</p>
<a href="/" class="calor">GO BACK</a>
</IndexPage>