.pages-wrapper {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.page-entry {
  width: 100%;
  animation: fadeIn 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.markdown-body {
  height: 100vh;
	margin: 5px !important;
	padding: 5px !important;
/* The fuck github-markdown-css must be do this , else have display error */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
