---
import '../styles/minimal.css'
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>404 | MoKanove</title>
</head>
<body>
    <h1>404 Not Found</h1>
    <p>Lo siento, has llegado al Tapón del Darién.</p>
    <p>Website of MoKanove</p>
    <a href="/">GO BACK</a>
</body>
</html>