---
//astro
import IndexPage from './index.astro';
---
<IndexPage title="404 Not Found" childpage={true}>
<h1>404 Not Found</h1>
<p>Lo siento, has llegado al Tapón del Darién.</p>
<p>Website of MoKanove</p>
<a href="/">GO BACK</a>
</IndexPage>