---
import '../styles/global.css';
import pkg from '../../package.json';
import dayjs from 'dayjs';
const { version } = pkg;
const BuiltTime = dayjs().format('YYYY-MM-DD HH:mm:ss ([UTC]ZZ)');
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>MoKanove</title>
	    <script define:vars={{ version , BuiltTime}}>
		console.log(`V${version} ${BuiltTime}`);
		</script>
	</head>
	<body>
    
	</body>
</html>