---
import '../styles/global.css';
import '../styles/index.css';
import Sidebar from '../components/sidebar.astro';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>MoKanove</title>
	</head>
	<body>
        <div class="flex h-screen w-full">    
            <div class="w-[15%]">
                <Sidebar />
            </div>
            <main class="w-[85%] p-10">
                <h2 class="text-2xl font-bold font-sans">index</h2>
            </main>
        </div>
	</body>
</html>
