body {
  background: linear-gradient(to right, #009dff, #afd7fb);
}

.colorado {
  color: white;
  text-align: center;
}

.calor {
  display: block;
  text-align: center;
  color: black;
  background: #ffffff;
  text-decoration: none;
  padding: 14px 28px;
  font-size: 18px;
  border-radius: 25px;
}
