.pages-wrapper {
  flex: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.page-entry {
  width: 100%;
  height: 100vh;
  animation: fadeIn 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.content-viewport {
  box-sizing: border-box;
  margin: auto;
  padding: clamp(0rem, 5vw, 1rem);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}