---
//css
import '../styles/sidebar.css';
//activeid
const { activeid } = Astro.props;
---
<div class="sidebar">
    <div class="header">
        <div class="avatar-container">
            <a href="/"><img src="/favicon.svg" alt="Logo"></a>
        </div>
            <h2>MoKanove</h2>
    </div>
  <nav class="section">
    <h3 class="section-label">Web Projects</h3>
    <div class="list">
      <a href="/" class="item">MoITools</a>
      <a href="/" class="item">TKKHS</a>
    </div>
  </nav>

<nav class="section">
    <h3 class="section-label">Program</h3>
    <div class="list">
      <a href="/oplist" class={`item runnable ${activeid === 'oplist' ? 'active' : ''}`}>
        <span class="status-icon"></span>LuCI-APP-OPList
      </a>
      <a href="/pm" class={`item runnable ${activeid === 'pm' ? 'active' : ''}`}>
        <span class="status-icon"></span>LuCI-APP-PM
      </a>
      <a href="/rdks" class={`item runnable ${activeid === 'rdks' ? 'active' : ''}`}>
        <span class="status-icon"></span>RDKS
      </a>
    </div>
  </nav>

  <nav class="section">
    <h3 class="section-label">Documents</h3>
    <div class="list">
      <a href="/doc-install" class={`item doc ${activeid === 'doc-install' ? 'active' : ''}`}>Install OpenWrt App</a>
      <a href="/doc-build" class={`item doc ${activeid === 'doc-build' ? 'active' : ''}`}>Build OpenWrt APP</a>
      <a href="/doc-init" class={`item doc ${activeid === 'doc-init' ? 'active' : ''}`}>Init OpenWrt SDK</a>
      <a href="/doc-site" class={`item doc ${activeid === 'doc-site' ? 'active' : ''}`}>Build this site</a>
    </div>
  </nav>

  <nav class="section">
    <h3 class="section-label">Theme</h3>
    <div class="list">
      <button class="item runnable" data-theme="light">
        <span class="status-icon"></span>Light
      </button>
      <button class="item runnable" data-theme="dark">
        <span class="status-icon"></span>Dark
      </button>
      <button class="item runnable" data-theme="auto">
        <span class="status-icon"></span>Auto
      </button>
    </div>
  </nav>
</div>