---
//css
import '../styles/sidebar.css';
//activeid
const { activeid } = Astro.props;
---
<div class="sidebar">
    <div class="header">
        <div class="avatar-container">
            <a href="/"><img src="/favicon.svg" alt="Logo"></a>
        </div>
            <h2>MoKanove</h2>
    </div>
  <nav class="section">
    <h3 class="section-label">Web Project</h3>
    <div class="list">
      <a href="/project/moitools" class="item">MoITools</a>
      <a href="/project/tkkhs" class="item">TKKHS</a>
    </div>
  </nav>

  <nav class="section">
    <h3 class="section-label">Program</h3>
    <div class="list">
      <a href="/project/go-rustdesk-server" class={`item runnable ${activeid === 'oplist' ? 'active' : ''}`}>
        <span class="status-icon"></span>go-rustdesk-server
      </a>
      <a href="/project/luci-app-ezsgx" class={`item runnable ${activeid === 'oplist' ? 'active' : ''}`}>
        <span class="status-icon"></span>LuCI-APP-EZSgX
      </a>
      <a href="/project/luci-app-oplist" class={`item runnable ${activeid === 'oplist' ? 'active' : ''}`}>
        <span class="status-icon"></span>LuCI-APP-OPList
      </a>
      <a href="/project/luci-app-pm" class={`item runnable ${activeid === 'pm' ? 'active' : ''}`}>
        <span class="status-icon"></span>LuCI-APP-PM
      </a>
      <a href="/project/rsop" class={`item runnable ${activeid === 'rdks' ? 'active' : ''}`}>
        <span class="status-icon"></span>RSOP
      </a>
    </div>
  </nav>

  <nav class="section">
    <h3 class="section-label">Document</h3>
    <div class="list">
      <a href="/doc/init" class={`item doc ${activeid === 'doc-init' ? 'active' : ''}`}>Init OpenWrt SDK</a>
      <a href="/doc/build" class={`item doc ${activeid === 'doc-build' ? 'active' : ''}`}>Build OpenWrt APP</a>
      <a href="/doc/license" class={`item doc ${activeid === 'doc-license' ? 'active' : ''}`}>Mo Public License</a>
    </div>
  </nav>

  <nav class="section">
      <button class="item runnable" data-theme="light">
        <span class="status-icon"></span>Change Theme
      </button>
  </nav>
  <footer style="display: flex; align-items: center; gap: 4px;">
  <span style="font-size: 15px;">&copy;Copyright <br> 2026 MoKanove</span>
</footer>
</div>