---
//css
import '../styles/sidebar.css';
---
<div class="sidebar">
    <div class="header">
        <div class="avatar-container">
            <img src="./favicon.svg" alt="Logo">
        </div>
            <h2>MoKanove</h2>
            <p>A dumb , an asshole freedom programmer.</p>
    </div>
    <nav class="section">
  <h3 class="section-label">Web Projects</h3>
  <div class="list">
    <a href="#" class="item">MoITools</a>
    <a href="#" class="item">TKKHS</a>
  </div>
</nav>

<nav class="section">
  <h3 class="section-label">Program</h3>
  <div class="list">
    <a href="#" class="item runnable">
      <span class="status-icon"></span> 
      LuCI-APP-OPList
    </a>
    <a href="#" class="item runnable">
      <span class="status-icon"></span> 
      LuCI-APP-PM
    </a>
    <a href="#" class="item runnable">
      <span class="status-icon"></span> 
      RDKS
    </a>
  </div>
</nav>

<nav class="section">
  <h3 class="section-label">Documents</h3>
  <div class="list">
    <a href="#" class="item doc">Install OpenWrt App</a>
    <a href="#" class="item doc">Build OpenWrt APP</a>
    <a href="#" class="item doc">Init OpenWrt SDK</a>
    <a href="#" class="item doc">Build this site</a>
  </div>
</nav>

<nav class="section">
  <h3 class="section-label">Theme</h3>
  <div class="list">
    <a href="#" class="item runnable">
      <span class="status-icon"></span> 
      Light
    </a>
    <a href="#" class="item runnable">
      <span class="status-icon"></span> 
      Dark
    </a>
    <a href="#" class="item runnable">
      <span class="status-icon"></span> 
      Auto
    </a>
  </div>
</nav>
</div>